body {
    margin: 0;
    font-family: sans-serif;
    background: #eee;
}

.hidden {
    display: none;
}

#startBtn {
    margin: 20px;
    padding: 10px 20px;
}

/* 游戏整体 */
#gameArea {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

/* 上半：地图 */
.operateBar {
    flex: 3;
    position: relative;
    background: #f5f5f5;
    border-bottom: 2px solid #000;
}

/* 下半：gear */
.gearBar {
    flex: 1;
    background: #ddd;
}

/* canvas 填充 */
canvas {
    width: 100%;
    height: 100%;
    display: block;
}